.text_wisteria {
  color: #8e44ad;
}

.bg_wisteria {
  background-color: #8e44ad;
}

.fit_content {
  width: fit-content;
}
.header {
  padding: 10px 0;
  margin-top: 15px;
  float: left;
  width: 100%;
  position: relative
}
.header .main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 5px 0
}

.header .main_header .header_logo {
  max-width: 150px;
  width: 100%
}

.header .main_header .header_logo a {
  display: block
}

.header .main_header .header_logo a img {
  min-height: 37px
}

.header .main_header .header_nav {
  display: inline-block;
  width: 65%;
  text-align: center
}
.header .main_header .header_search {
  width: 35%
}